//break point
$maxMobile: "(max-width: 767px)"; 

//Colors
$primaryColor: hsl(238, 29%, 16%);
$secandaryColor: hsl(238, 29%, 16%);
$gradientColorOne: hsl(273, 75%, 66%);
$gradientColortwo: hsl(240, 73%, 65%);
$textColor: hsl(237, 12%, 33%);
$textColorDark: hsl(240, 6%, 50%);
$dividersColor: hsl(240, 5%, 91%);

//font size
$fontSize: 12px;

//font
$body-font: "Kumbh Sans", sans-serif;